.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.GalleryContainer {
  width: 50%;
  /* height: 700px; */
}

.currentImage {
  display: flex;
  margin: auto;
  width: 95%;
  /* background-position: var(--x) var(--y); */

}

.currentImage2 {
  display: flex;
  margin: auto;
  width: 95%;
  overflow: hidden;

}
.currentImage:hover {
  cursor: zoom-in;

}
