.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GalleryContainer {
  width: 50%;
  /* height: 700px; */
}

.buttonL, .buttonR{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border:none;
  color: white;
  background-color: rgb(60, 187, 226);
  /* animation-direction: alternate; */
}

.currentImage {
  display: flex;
  margin: auto;
  width: 80%;
  height:80%;
  /* background-position: var(--x) var(--y); */
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  /* animation-delay: 0.5s; */
  /* animation-iteration-count: 2; */
}
/* @keyframes move {
  0% { transform: translateX(0%)}
   100% { transform: translateX(100%)  }
} */

.currentImage2 {
  display: flex;
  margin: auto;
  width: 95%;
  overflow: hidden;

}
.currentImage:hover {
  cursor: zoom-in;

}
