.Mantis {
  display: flex;
  /* margin: auto; */
  flex-direction: column;
  flex-wrap: wrap;
  width: 48%;

/* grid-template-columns: 17% 17% 17% 17% 17% 17%;
grid-template-rows: auto; */
}

.Title {
font-size: 50px;
width: 95%;
align-self: center;
font-family: "DIN Next",sans-serif;
}
.Price {
  margin-top: 10px;
  font-size: 25px;
  width: 95%;
  align-self: center;
  font-family: "DIN Next",sans-serif;
}

.menuContainer {
  display:flex;
  margin-top: 5%;
  justify-content: space-evenly;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.model {
  height: 50px;
  width: 45%;
  font-family: "DIN Next",sans-serif;
}
.color {
  height: 50px;
  width: 45%;
  font-family: "DIN Next",sans-serif;
}
.dropMenu {
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  font-size: 20px;
  text-align-last: center;
  color: rgb(85, 88, 88);
  font-family: "DIN Next",sans-serif;
}
.shipping {
  margin-top: 30px;
  align-self: center;
  width:95%;
  border-color: blueviolet;
  color: rgb(85, 88, 88);
  font-family: "DIN Next",sans-serif;
}
.dropMenu2 {
  flex-wrap: wrap;
  height: 50px;
  width: 35%;
  font-size: 15px;
  text-align-last: center;
  font-family: "DIN Next",sans-serif;
}
/* .Chart {
  display: grid;
  border-top: black;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-columns: 100px 100px 100px;
} */
.Chart {
  font-family: "DIN Next",sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
.Chart tr:nth-child(odd){
  background-color: #f2f2f2;
}
.Chart th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #5b5e5c;
  color: white;
}
.Chart td, .Chart th{
  border: 1px solid #ddd;
  padding: 8px;
}
.fill {
  width: 100%;
}
.buttonCheckout {
  font-size: 20px;
  color:white;
  width: 35%;
  border: none;
  margin-left: 10px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(238, 9, 104);
  font-family: "DIN Next",sans-serif;
}
.button {
  width: 95%;
  border: none;
  align-self: center;
  margin-top: 5%;
  height: 50px;
  padding: 10px;
  background-color: rgb(224, 92, 147);
  font-family: "DIN Next",sans-serif;
}

.info1, .info2, .info3 {
  font-size: 18px;
  margin-top: 5%;
  align-self: center;
  width: 95%;
  text-align: justify;
  color: rgb(138, 135, 135);
  font-family: "DIN Next",sans-serif;
}

.heading1 {
  font-weight: bold;
  color: rgb(43, 42, 42);
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
}
